  
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headfiller') %>
  <title>Server parsed HTML Form</title>
</head>
<body>
  <h1>Search, this is home page</h1>
  <a href='searches/new'>Search</a>
  <ul></ul>
    <% bookResults.forEach(book => { %>
      <li><%= book.title %></li>
    <% }) %>
  </ul>
</body>
</html>